body{
	background-color:#e2e5e7;
}

.wrapper{
	display:flex;
	flex-flow: row wrap;
	font-weight: bold;
    text-align: center;

}
.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  justify-content: center;
  }

img{

	width:550px;
	height:300px;
	margin-top:0px;
	float:center;
	padding:0px;
	border:0px;
}

.main-page {
  text-align: center;
  display:block;
  
}
.login-page{
	text-align:center;
	display:none;
}
h3{
  font-family:Comic Sans MS;
  font-size:30px;
  color:#808d94;
  margin-top:0.5;
}

.header {
  font-size: 100px;
  font-family: "Courier New";
  color:#c33d6f;
  line-height: 0.244;
  text-align: center;
  margin-top:25px;
  position: top;
}

.login-form{
	 
	width: 570px;
    margin: 40px auto 30px;
    padding: 15px;
    position: relative;
    background: #fffaf6;
    border-radius: 4px;
    color: #7e7975;
    box-shadow:
        0 2px 2px rgba(0,0,0,0.2),        
        0 1px 5px rgba(0,0,0,0.2),        
        0 0 0 12px rgba(255,255,255,0.4); 
}
.login-form h1{
	font-size: 32px;
    font-weight: bold;
    color: #c33d6f;
    padding-bottom:25px;
    border-bottom: 1px solid #EBE6E2;
    text-shadow: 0 2px 0 rgba(255,255,255,0.8);
    box-shadow: 0 1px 0 rgba(255,255,255,0.8);
}

h2{
	text-align:left;
	color:white;
	font-family:Constantia;
	padding-left:10px;
	margin-top:0px;
	background-color:#c33d6f;
}
p{
	text-align:left;
	font-family:Comic Sans MS;
	font-size:18px;
	padding-left:15px;
}

.login-btn:hover{

	cursor: auto;
	background-color: #365899;
    border-color: #365899;
    text-decoration: none;
}



.login-btn{
	width:210px;
	background:#4267b2;
	border:1px solid;
	border-radius: 2px;
	box-sizing: content-box;
	padding:8px;
	color:#fff;
	font-size:14.442px;
	font-weight: bold;
	display:inline-block;
	white-space: nowrap;
}

.fblink:link {
	text-decoration:none;
	font-family:Arial;
	color:#3a5795;
	cursor:auto;
}

.fblink:hover{
	text-decoration:underline;
	font-family:Arial;
	color:#3a5795;
}

.fblink:visited{
	text-decoration:none;
	font-family:Arial;
	color:purple;
}
.user-name:link{
	cursor:auto;
	text-decoration:none;
	color:#808d94;
}
.content{
	display:flex;
	width:1326px;
	height:455.3px;
	flex-flow: row nowrap;
	justify-content:baseline;


}
.user-crushes , .notification-of-crushesNum{
	flex:1 100%;

}
.user-crushes{
	margin-left:0px;
	width:70%;
	flex-grow:1;
}
.notification-of-crushesNum{
	margin-left:0px;
	width:95%;
	height:455.3px;
}

li{
	padding:0 0 5px 35px;
	color:#c33d6f;
	font-size:20px;

}
.url1 , .url2{
	text-decoration:none;
	float:left;
	display:block;
}

input{
	width:250px;
	height:25px;
	margin-top:15px;
	margin-left:12px;
	border-radius:10px;
	border:1px solid silver;
	padding:5px;
	float:left;
}
.p1 , .p2{
	text-align:left;
	font-family:Comic Sans MS;
	color:#c33d6f;
	font-size:24px;
	padding-left:15px;
}
.p2{
	padding-right:200px;
	padding-top:0px;
}

.p3{

	font-family:Comic Sans MS;
	font-size:24px;
	color:#c33d6f;
	padding-left:280px;
	margin-top:-150px;
}
.number{
	font-size:130px;
	font-family:Comic Sans MS;
	margin-top:-40px;
	padding:0px;
	padding-right:400px;
}
/* New Form*/

@media all and (min-width: 600px) {
  .wrapper { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main-page { flex: 3 0px; }
  .login-page { flex: 3 0px; }
  .user-crushes { order: 1; } 
  .notification-of-crushesNum  { order: 2; }
}

