<div class="main-page">
  <h3 class="header3">we're that confident you'll love GoCrush.</h3>
  <div class="login-form">
    <h1 class="sign-up">Sign Up</h1>
    <p class="p-login-form">You should have an account on Facebook to be able to sign up</p>
    <a class="login-link">
      <button class="login-btn" name="login with Facebook" type="submit">Login with Facebook</button>
    </a>
    <p 
      class="p-login-form">
      Don't have an account on Facebook?
    </p>
    <a 
      href="https://www.facebook.com/"
      class="fblink" 
      target="_blank">
      Create a new Facebook account
    </a>
  </div>
</div>